body {
  color: #fff;
  font-family: 'Khula', sans-serif;
}

.landing {
  background: url('../images/portfolio-pic.jpeg') no-repeat 50% 100%;
  background-size: cover;
  height: 50em;
  position: relative;
  text-align: center;
}

.welcome {
  max-width: 500px;
  padding-left: 10%;
  padding-top: 18%;
}

h1 {
  font-size: 3.4em;
  margin: 0;
  font-style: italic;
  font-weight: 600;
}

.greeting {
  text-align: left;
}

h2 {
  font-size: 1.3em;
  text-align: justify;
  max-width: 400px;
  line-height: 30px;
  font-weight: 300;
  margin-top: 0;
  padding-bottom: 15px;
}

.contact-click {
  background-color: #d77f58;
  border: none;
  padding: 10px 15px 9px 15px;
  color: #fff;
  border-radius: 5px;
}

.contact-click:focus,
.contact-click:hover {
  outline: none;
  cursor: pointer;
  background-color: #849BC4;
}

.about,
.contact {
  background-color: #D77F58;
  overflow: hidden;
  padding: 7% 14%;
  display: flex;
  justify-content: center;
}

.text {
  margin-left: 20%;
}

.picture {
  width: 300px;
  height: 300px;
}

.portfolio {
  background-color: #849BC4;
  padding: 2% 0 5% 0;
}

.portfolio > h1 {
  text-align: center;
  padding: 5% 0 3% 0;
}

.screenshots {
  display: flex;
  justify-content: center;
  z-index: 1;
  perspective: 1000;
}

.front, .back {
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.back {
  background-color: #D77F58;
}

a {
  color: #fff;
  text-decoration: none;
}

.site-link {
  margin-left: 30%;
  background-color: #849BC4;
  padding: 7px 15px 5px 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.site-link:hover {
  color: #fff;
}

.back > p:first-child {
  padding: 15px 20px 0 20px;
}

.back > p {
  padding: 5px 20px 0 20px;
}

.square {
  margin-right: 3%;
  margin-bottom: 25px;
  width: 300px;
  height: 300px;
}

.square, .back {
  border-radius: 5px;
}

.contact-text {
  margin-right: 15%;
}

form {
  margin-right: 5%;
}

input {
  display: block;
  margin-bottom: 15px;
}

input, textarea {
  border: none;
  padding-left: 7px;
  padding-top: 5px;
}

input[type="submit"] {
  margin-top: 3%;
  color: #fff;
  background-color: #7d9ed8;
  padding: 8px 45px 5px 45px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

input[type="submit"]:hover, .fa {
  cursor: pointer;
}

input[type="submit"]:active {
  transform: translateY(4px);
  outline: none;
  box-shadow: none;
}

footer {
  background-color: #849BC4;
  padding: 3% 12% 0 12%;
}

.social {
  text-align: center;
  overflow: hidden;
}

.cta {
  line-height: 20px;
  padding-bottom: 10px;
  width: 400px;
  padding-left: 32%;
}

.fa {
  padding: 0 15px;
}

.social .fa:hover,
.blog a:hover {
  color: #e8946f;
}

.fa-smile-o {
  padding: 0;
  cursor: text;
}

.angle-down {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.fa-angle-double-down:hover {
  -webkit-animation: rubberBand 1s;
  animation: rubberBand 1s;
}

.angle-down p {
  margin: 0;
}

.text > p, .contact-text > p {
  margin-top: 0;
}

.small-text {
  font-size: 14px;
}

.copyright {
  font-weight: 100;
}

.scroll {
  font-style: italic;
}

textarea {
  resize: vertical;
}

.blog {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .welcome {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
  }
  .landing h1 {
    text-align: center;
  }
  .landing h2 {
    padding-left: 50px;
  }
  .about {
    display: block;
  }
  .picture {
    margin: 0 25% 7% 25%;
  }
  .text {
    margin: 0 10%;
  }
  .smaller {
    padding-left: 3%;
  }
  .contact {
    justify-content: flex-start;
  }
  .cta {
    padding: 0 22%;
  }
}

@media only screen and (max-width: 835px) {
  .contact {
    display: block;
  }
  .cta {
    width: 300px;
    padding: 0;
    margin: 0 auto 20px auto;
  }
}

@media only screen and (max-width: 555px) {
  h2 {
    font-size: 1em;
  }
  .welcome {
    left: 49%;
    padding-right: 6%;
  }
  .greeting {
    font-size: 3em;
  }
  .landing h2 {
    /*width: 350px;*/
    padding-left: 20px;
  }
  .contact-click {
    margin-bottom: 20px;
  }
  .picture {
    margin: 30px 0;
  }
  .text {
    margin: 0;
  }
  .about {
    display: block;
  }
  .text {
    margin-top: 25px;
    margin-left: 0;
  }
  .about-header {
    font-size: 2.3em;
    margin-bottom: 15px;
  }
  .portfolio-header {
    font-size: 2em;
  }
  .screenshots {
    display: block;
    width: 300px;
    margin: 0 auto;
  }
  .contact {
    display: block;
  }
  .cta {
    width: 100%;
    padding-left: 0;
  }
  h3 {
    margin-top: 7%;
  }
  .scroll {
    display: none;
  }
  [type='text'],
  [type='email'] {
    width: 75%;
  }
  h1 {
    font-size: 2.5em;
  }
  .fa-book {
    display: none;
  }
  .blog {
    display: inline;
  }
}
